button, input, .select, .select select {
    width: 100%;
}
table {
    font-size: 17.5px;
}
td {
    width: 20%;
}
img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}
.center {
    margin: auto;
    width: 50%;
}