<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="games">
<thead>
    <th colspan="5" align="center"> {{ title }} </th>
</thead>
<thead>
    <th align="center"> Court </th>
    <th colspan="2" align="center"> Team 1 </th>
    <th colspan="2" align="center"> Team 2 </th>
</thead>
<tbody>
{% for game in games %}
    <tr {% if game.team1.player1.first == 'RESERVED' %} class="is-danger" {% endif %}>
        <th align="center" style="width: 8%;">{{ game.court }}</th>
        <td style="width: 23%;"><strong>{{ game.team1.player1.first }}</strong>{{ " " + game.team1.player1.last }}</th>
        <td style="width: 23%;"><strong>{{ game.team1.player2.first }}</strong>{{ " " + game.team1.player2.last }}</th>
        <td style="width: 23%;"><strong>{{ game.team2.player1.first }}</strong>{{ " " + game.team2.player1.last }}</th>
        <td style="width: 23%;"><strong>{{ game.team2.player2.first }}</strong>{{ " " + game.team2.player2.last }}</th>
    </tr>
{% endfor %}
</tbody>
</table>