{% from "macros.j2" import header, footer, navbar %}
<!doctype html>
<html lang="en">
	{{ header(url_for) }}
	<body>
		<section class="section">
			{{ navbar(url_for) }}
			<div hx-post="/clear" hx-swap="outerHTML" hx-trigger="load"></div>
			<div hx-get="/control" hx-swap="outerHTML" hx-trigger="load"></div>
			{{ footer() }}
		</section>
	</body>
</html>
