{% from "macros.j2" import header, navbar, footer, player_button, guest_control %}
<!doctype html>
<html lang="en">
	{{ header(url_for) }}
	<body>
		<section class="section">
			{{ navbar(url_for) }}
			<h4 class="title is-4">Members</h4>
			<div class="fixed-grid has-4-cols">
            <div class="grid">
            {% for regular in regulars %}
                <div class="cell"> {{ player_button(regular) }} </div>
            {% endfor %}
            </div>
			<h4 class="title is-4">Guests</h4>
			<div class="fixed-grid has-4-cols">
			<div class="grid">
			{% for guest in guests %}
                <div class="cell"> {{ player_button(guest) }} </div>
            {% endfor %}
			</div>
		</section>
		<section class="section">
			<div class="column">
				<button class="button is-dark is-responsive" 
						hx-post="/reset_players">RESET!</button>
			</div>
			{{ footer() }}
		</section>
	</body>
</html>