<div id="currentgames" class="grid-container game-list">
{% for game in games %}
    <div class="grid-item">
        <h4>Court {{game.court}}</h4>
        <div class="grid-container game">
            <div class="grid-item">
                <div class="grid-container team">
                    <div class="grid-item player">{{game.team_1.player_1}}</div>
                    <div class="grid-item player">{{game.team_1.player_2}}</div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-container team">
                    <div class="grid-item player">{{game.team_2.player_1}}</div>
                    <div class="grid-item player">{{game.team_2.player_2}}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>