<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basic Page Needs-------------------------------->
    <meta charset="utf-8">
    <title>Match Up</title>
    <!--Mobile Specific Data---------------------------->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Javascript-------------------------------------->
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <!--Styling----------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <!--Minimal Additional Styling---------------------->
    <style>
        button {
            width: 100%;
        }
    </style>
</head>
<body class="code-snippets-visible">
    <div class="container">
        <section class="header">
            <nav class="nav">
                <div class="nav-left">
                    <a class="button primary">Home</a>
                    <a class="button outline active" href="/player">Player</a>
                </div>
                <div class="nav-center">
                    <h1 class="title">Match Up</h1>
                </div>
                <div class="nav-right">
                    <a class="button outline" href="/admin">Admin</a>
                    <a class="button outline" href="/contact">Contact</a>
                </div>
            </nav>
        </section>
        <h2>Games</h2>
            <div hx-get="/game-list" hx-swap="outerHTML" hx-trigger="revealed"></div>
        <hr>
        <div class="row player-list">
            <div class="col"><button hx-post="/new-games" hx-trigger="click" hx-target="#currentgames" hx-swap="outerHTML"> New Games </button></div>
            <div class="col"><button hx-post="/reset-games" hx-trigger="click" hx-target="#currentgames"> Reset </button></div>
        </div>
        <hr>
        <h2>Players</h2>
            <div hx-get="/player-list" hx-swap="outerHTML" hx-trigger="revealed"></div>
        <footer>
            Made by <a href="https://karanjayachandra.com/">Karan Jayachandra</a> using <a href="https://htmx.org/">HTMX</a> and <a href="https://flask.palletsprojects.com">Flask</a>
        </footer>
    </div>
</body>
</html>