<div class="grid-container">
{% for player in players %}
    <div class="grid-item">
        <button class={% if player.status %} "active" {% else %} "dormant" {% endif %} hx-post="{{ "/player-toggle/" ~ player.name}}" hx-trigger="click" hx-swap="outerHTML">{{ player.name }}</button>
    </div>
{% endfor %}
</div>